@use "../abstract/variables";

.modal__historico {
  align-items: center;
  border: solid 1px variables.$color-gray;
  border-radius: 5px;
  justify-content: center;
  height: 350px;
  text-align: center;
  width: 275px;
}

.modal__historico__header {
  align-items: center;
  background: variables.$color-orange;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.historico__header--titulo {
  color: variables.$color-white;
  padding: 10px;
  font-weight: 600;
}

#listHistoric {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  max-height: 100%;
  margin-top: 5px;
  height: 330px;
}

#listHistoric p {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  height: 20;
  max-height: 100%;
  width: 100%;
}
