@use "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: variables.$color-black;
  box-sizing: border-box;
  color: variables.$color-white;
  font-family: variables.$font-primary;
  font-size: 62.5%;
}
