body {
  background: #141414;
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.calculator {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  width: 100%;
}

.calculatorOperation {
  align-items: center;
  border: solid 1px #818181;
  border-radius: 5px;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  width: 500px;
}

.calculator__historicActions {
  justify-content: end;
  display: flex;
  margin-right: 80px;
}

#btnHistoric {
  background: #141414;
  border: solid 1px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 45px;

  padding: 10px;
  width: 130px;
}

#btnTrashHistoric {
  background: #141414;
  border: none;
  color: #da0d0d;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

#operation {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  width: 340px;
}

#btnBackspace {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 170px;
}

#iconDelete {
  color: #ffffff;
  font-size: 22.5px;
}

.buttons__digits {
  margin-bottom: 50px;
  margin-top: 25px;
}

.buttons__digits button {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 5px 2px 5px 2px;
  width: 80px;
}

#btnClear,
#btnBackspace {
  color: #ff9100;
  font-weight: 500;
}

#btnEquals {
  background: #ff9100;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 5px 2px 5px 2px;
  width: 80px;
}



