body {
  background: #141414;
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.calculator {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  width: 100%;
}

.calculatorOperation {
  align-items: center;
  border: solid 1px #818181;
  border-radius: 5px;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  width: 500px;
}

.calculator__historicActions {
  justify-content: end;
  display: flex;
  margin-right: 80px;
}

#btnHistoric {
  background: #141414;
  border: solid 1px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 45px;

  padding: 10px;
  width: 130px;
}

#btnTrashHistoric {
  background: #141414;
  border: none;
  color: #da0d0d;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

#operation {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  width: 340px;
}

#btnBackspace {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 170px;
}

#iconDelete {
  color: #ffffff;
  font-size: 22.5px;
}

.buttons__digits {
  margin-bottom: 50px;
  margin-top: 25px;
}

.buttons__digits button {
  background: #141414;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 5px 2px 5px 2px;
  width: 80px;
}

#btnClear,
#btnBackspace {
  color: #ff9100;
  font-weight: 500;
}

#btnEquals {
  background: #ff9100;
  border: solid 1.5px #818181;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 5px 2px 5px 2px;
  width: 80px;
}

.historic {
  align-items: center;
  border: solid 1px #818181;
  border-radius: 5px;
  justify-content: center;
  margin-left: 25px;
  text-align: center;
  height: 350px;
  width: 250px;
}

.headerHistoric {
  align-items: center;
  background: #ff9100;
  border-radius: 4px;
  border-bottom-color: #818181;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.titleHistoric {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#listHistoric {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  max-height: 100%;
  margin-top: 5px;
  height: 330px;
}

#listHistoric p {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  height: 20;
  max-height: 100%;
  width: 100%;
}

#modalHistoricEmpty, #modalHistoric, #modalCleaningConfirmed {
  background-color: #fff;
  border: 0.3px solid #818181;
  border-radius: 6px;
  left: 50%;
  max-height: 250px;
  max-width: 400px;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 9999;
}

.modalHistoric__Header {
  display: flex;
  justify-content: center;
}

#iconModalHistoric, #iconModalHistoricEmpty, #iconModalCleaningConfirmed {
  color: #da0d0d;
  cursor: pointer;
  display: flex;
  justify-content: end;
  font-size: 25px;
}

#iconModalTrashHistoric, #iconModalTrashHistoricEmpty, #iconModalTrashCleaningConfirmed {
  background: #fff3de;
  border: none;
  border-radius: 50%;
  color: #ff9100;
  cursor: pointer;
  height: 60px;
  width: 60px;
  font-size: 25px;
}

#iconModalCheckCleaningConfirmed{
  color: #0a630a;
  font-size: 18px;
  margin-right: -15px;
}

.modalHistoric__title,
.modalHistoric__message {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

.titleModal {
  color: #ff9100;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.messageModal{
  color: #7a7777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.groupBtnModal{
  border-top: solid 0.1px #d4d1d1;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.btnModal{
  background: #ff9100;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
}