@use "./variables";

@mixin color($background, $color){
  background-color: $background;
  color: $color;
}

@mixin ff-fs-fw() {
  font-family: variables.$font-primary;
  font-size: 1.125rem;
  font-weight: 600;
}
