@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: "Montserrat", sans-serif;

$color-black: #141414;
$color-dark-gray: #303030;
$color-gray: #818181;
$color-green:#0a630a;
$color-orange: #cf7104;
$color-red:#da0d0d;
$color-white: #ffffff;